@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

html {
	scroll-behavior: smooth;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}

:root {
	--background: oklch(0.9916 0.0017 67.8029);
	--foreground: oklch(0.2178 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.2178 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.2178 0 0);
	--primary: oklch(0.7788 0.1727 66.5653);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.3192 0.0102 216.7919);
	--secondary-foreground: oklch(1 0 0);
	--muted: oklch(0.9612 0 0);
	--muted-foreground: oklch(0.5303 0.0148 221.5854);
	--accent: oklch(0.9705 0.0288 82.5988);
	--accent-foreground: oklch(0.7788 0.1727 66.5653);
	--destructive: oklch(0.6307 0.194 29.4415);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.937 0 0);
	--input: oklch(0.9761 0 0);
	--ring: oklch(0.7788 0.1727 66.5653);
	--chart-1: oklch(0.7788 0.1727 66.5653);
	--chart-2: oklch(0.3192 0.0102 216.7919);
	--chart-3: oklch(0.8409 0.1381 75.124);
	--chart-4: oklch(0.8598 0.1435 170.8155);
	--chart-5: oklch(0.8251 0.0894 33.5775);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.2178 0 0);
	--sidebar-primary: oklch(0.7788 0.1727 66.5653);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.9705 0.0288 82.5988);
	--sidebar-accent-foreground: oklch(0.7788 0.1727 66.5653);
	--sidebar-border: oklch(0.937 0 0);
	--sidebar-ring: oklch(0.7788 0.1727 66.5653);
	--font-sans: "Inter", "Bebas Neue", sans-serif;
	--font-serif: "Georgia", serif;
	--font-mono: "Fira Code", monospace;
	--radius: 1rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 15px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.05;
	--shadow-color: #000000;
	--shadow-2xs: 0px 4px 15px 0px hsl(0 0% 0% / 0.03);
	--shadow-xs: 0px 4px 15px 0px hsl(0 0% 0% / 0.03);
	--shadow-sm:
		0px 4px 15px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow:
		0px 4px 15px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow-md:
		0px 4px 15px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
	--shadow-lg:
		0px 4px 15px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
	--shadow-xl:
		0px 4px 15px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
	--shadow-2xl: 0px 4px 15px 0px hsl(0 0% 0% / 0.13);
	--tracking-normal: -0.01em;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.1684 0 0);
	--foreground: oklch(0.9916 0.0017 67.8029);
	--card: oklch(0.209 0 0);
	--card-foreground: oklch(0.9916 0.0017 67.8029);
	--popover: oklch(0.209 0 0);
	--popover-foreground: oklch(0.9916 0.0017 67.8029);
	--primary: oklch(0.8075 0.1665 73.8206);
	--primary-foreground: oklch(0 0 0);
	--secondary: oklch(1 0 0);
	--secondary-foreground: oklch(0 0 0);
	--muted: oklch(0.2686 0 0);
	--muted-foreground: oklch(0.7058 0 0);
	--accent: oklch(0.2727 0.0233 80.869);
	--accent-foreground: oklch(0.8075 0.1665 73.8206);
	--destructive: oklch(0.6786 0.2095 24.6583);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.2686 0 0);
	--input: oklch(0.2264 0 0);
	--ring: oklch(0.8075 0.1665 73.8206);
	--chart-1: oklch(0.8075 0.1665 73.8206);
	--chart-2: oklch(1 0 0);
	--chart-3: oklch(0.8638 0 0);
	--chart-4: oklch(0.6972 0.1351 172.0843);
	--chart-5: oklch(0.7281 0.1678 22.5445);
	--sidebar: oklch(0.1684 0 0);
	--sidebar-foreground: oklch(0.9916 0.0017 67.8029);
	--sidebar-primary: oklch(0.8075 0.1665 73.8206);
	--sidebar-primary-foreground: oklch(0 0 0);
	--sidebar-accent: oklch(0.2727 0.0233 80.869);
	--sidebar-accent-foreground: oklch(0.8075 0.1665 73.8206);
	--sidebar-border: oklch(0.2686 0 0);
	--sidebar-ring: oklch(0.8075 0.1665 73.8206);
	--font-sans: "Inter", "Bebas Neue", sans-serif;
	--font-serif: "Georgia", serif;
	--font-mono: "Fira Code", monospace;
	--radius: 1rem;
	--shadow-x: 0px;
	--shadow-y: 8px;
	--shadow-blur: 20px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.3;
	--shadow-color: #000000;
	--shadow-2xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.15);
	--shadow-xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.15);
	--shadow-sm:
		0px 8px 20px 0px hsl(0 0% 0% / 0.3), 0px 1px 2px -1px hsl(0 0% 0% / 0.3);
	--shadow:
		0px 8px 20px 0px hsl(0 0% 0% / 0.3), 0px 1px 2px -1px hsl(0 0% 0% / 0.3);
	--shadow-md:
		0px 8px 20px 0px hsl(0 0% 0% / 0.3), 0px 2px 4px -1px hsl(0 0% 0% / 0.3);
	--shadow-lg:
		0px 8px 20px 0px hsl(0 0% 0% / 0.3), 0px 4px 6px -1px hsl(0 0% 0% / 0.3);
	--shadow-xl:
		0px 8px 20px 0px hsl(0 0% 0% / 0.3), 0px 8px 10px -1px hsl(0 0% 0% / 0.3);
	--shadow-2xl: 0px 8px 20px 0px hsl(0 0% 0% / 0.75);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
	letter-spacing: var(--tracking-normal);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
